[access]
	inheritFrom = All-Projects
[project]
	description = ARCHIVED- 2022-02-15 at the request of the project\nIssue ID: IT-23624\n\nSource code to read initial configuration date into KV Store.
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-music-distributed-kv-store-committers
[plugin "its-jira"]
	enabled = true
